body {
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 12px;
}
.page {
    margin: 10px 0;
    padding: 10px;

    background: #28ac55;
    color: #fff
}
.title {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
}
.description {
    font-style: normal;
    font-weight: normal;
}
.header {
    background: #2236ac;
    padding: 10px;
    margin-bottom: 10px;
}
.header__res1,
.header__res2 {
}
.item {
    padding: 10px;
    margin-bottom: 1px;
}
.item_even {
    background: #e3e3e3;
    color: #2236ac;
}
.item_odd {
    background: #f9f9f9;
    color: #28ac55;
}